.page.theme_light {
  --header-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-shadow: #ff8dcb;
  --bg-color: #fff1f7;
  --subtitle-text-color: #353430;
  --btn-hover-border-color: rgb(50 49 45 / 0.4);
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --bg-img: url(../images/cover-image-light.png);
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-shadow: #ff8dcb;
    --bg-color: #fff1f7;
    --subtitle-text-color: #353430;
    --btn-hover-border-color: rgb(50 49 45 / 0.4);
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
  }
}

@media (width > 768px) {
  .header__focus {
    --text-shadow: #ff0070;
  }

  .footer__header {
    --text-shadow: #ff0070;
  }
}
