/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--bg__img-page);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*decor*/
.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: var(--small, 10px);
  inset-inline-end: 0;
  top: 20px;
  right: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: var(--small, 10px);
  inset-inline-start: 0;
  bottom: 20px;
  left: 20px;
}

.header__decoration::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  box-shadow: 0 0 5px 3px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
  inset-block-end: 8px;
  inset-inline-end: -21px;
}
/**/

/* Navbar */

ul li {
  display: inline-block;
}

.header__theme-menu-button {
  color: var(--navbar__btn-color);
  border: none;
  outline: none;
  background-color: transparent;

  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */

  min-height: 26px;
  padding: 0px 13px;
}

.header__theme-menu-button:not(:first-child) {
  margin-right: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--navbar__btn-border);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.rec {
  position: absolute;
  color: var(--rec__color);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  margin-right: 10px;
  top: 7px;
  right: 38px;
}

.rec::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--rec__color);
  border-radius: 50%;
  top: 7px;
  margin-left: 10px;

  fill: #ff0070;
  filter: drop-shadow(0px 0px 4px #ff0070);
}

/**/

/* header */

.header__text {
  color: var(--header__text-color);
  text-shadow: 4px 4px 0px var(--header__text-shadow);
  font-family: IBM Plex Mono;
  font-size: var(--header__text-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  margin-top: 274px;
  margin-bottom: 0;
}

.block__header-position {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.block__header-description {
  background-color: var(--block__header-description);
  width: 491px;
  color: var(--text__header-description-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */

  margin-right: 20px;
  margin-top: 114px;
}

.text__header-description {
  margin: 0;
}

/**/

/* main */

main {
  background-color: var(--main__bg-color);
  width: 100%;
}

.first-section,
.second-section,
.third-section,
.picture-section {
  padding-left: 20px;
  padding-right: 20px;
}

.first-section {
  margin-block-start: 134px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__firstSection {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  color: var(--main__accent-color);
}

.block__about-setting {
  max-width: 650px;
  width: 100%;
}

.block__about-header {
  height: 23px;
  width: 100%;
  background-color: var(--main__accent-color);
  color: var(--main__header-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.block__about-description {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  color: var(--main__description-color);
}

/**/

/* Second Section */
.second__headerSection {
  max-width: 315px;
  color: var(--main__accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.container__secondBlock {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container__columns {
  max-width: 100%;
}

.container__header {
  width: 100%;
  background-color: var(--main__accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  color: var(--main__header-color);
}

.container__description {
  color: var(--main__description-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}
/**/

/* thirdSection */
.third-section {
  margin-block-start: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.third__section-header {
  color: var(--main__accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  max-width: 315px;
}

.third__section-container {
  max-width: 50%;
}

.third__container-header {
  background-color: var(--main__accent-color);
  color: var(--main__header-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.firstHeader__thirdSection {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.third__container-header:not(:first-child) {
  margin-block-start: 20px;
}

.third__container-description {
  color: var(--main__description-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}
/**/

/* picture section */

.picture-header {
  width: 100%;
  background-color: var(--main__accent-color);

  margin-block-start: 80px;
  color: var(--main__header-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.picture__gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  grid-gap: 20px;
}

.picture__gridContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sunset-img {
  grid-area: sunset;
}

.ice-cream-img {
  grid-area: ice-cream;
}

.tape-img {
  grid-area: tape;
}

.books-img {
  grid-area: books;
}

.street-img {
  grid-area: street;
}
/**/
/* footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}

.footer .header__title {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);

  color: var(--header__text-color);
  text-shadow: 2px 2px 0px var(--main__accent-color);
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}
/**/

@media (max-width: 768px) {
  .header__text {
    margin: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .first-section {
    flex-wrap: wrap;
    margin-block-start: 0;
    padding: 0;
    gap: 0;
  }

  .third-section {
    flex-wrap: wrap;
  }

  .third__section-container {
    max-width: 100%;
  }

  .picture__gridContainer {
    display: block;
  }

  .footer .header__title {
    font-size: 116px;
  }

  .block__header-position {
    display: flex;
    justify-content: center;
  }

  .block__header-description {
    max-width: 335px;
    width: 335px;
    max-height: 117px;
    margin-block-end: 20px;
  }

  .block__about-description,
  .container__description {
    margin-top: 10px;
  }

  p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
  }

  .decorated-zone::before {
    bottom: 30px;
    left: 0px;
  }

  .decorated-zone::after {
    top: 0px;
    right: 5px;
  }

  .rec {
    top: 5px;
    right: 25px;
  }

  .header {
    margin-left: 10px;
    margin-right: 10px;
  }

  .third-section {
    margin-block-start: 0;
  }

  .picture-header {
    margin-block-start: 0;
  }
  .second-section,
  .third-section,
  .picture-section {
    padding: 0;
    margin-block-start: 50px;
  }

  .third__container-description,
  img {
    margin-block-start: 10px;
  }

  main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__firstSection {
    max-width: 355px;
  }
}
