/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

body {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* header */
.page {
  max-width: 1440px;
  max-height: 100vh;
  margin: auto;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-inline-end: 43px;
}

.header__theme-menu-button_active {
  outline: 1px solid #ff0070;
}

ul li {
  display: inline;
}

.header__theme-menu-button {
  color: #ff0070;
  border: none;
  background-color: transparent;
  font-family: IBM Plex Mono;
  font-size: 18px;
  margin-block-start: 3px;
  width: 70px;
}

.rec {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 0px;
  right: 20px;
  text-transform: uppercase;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  color: #ff0070;
}

.rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: #ff0070;
  filter: drop-shadow(0 0 4px #ff0070);
  border-radius: 50%;
  margin-inline-end: 9px;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
}

.header::before {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid #ff0070;
  border-block-end: 1px solid #ff0070;
  position: absolute;
  inset-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.header::after {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid #ff0070;
  border-block-start: 1px solid #ff0070;
  position: absolute;
  inset-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.header__focus {
  color: #db00ff;

  text-shadow: 4px 4px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  margin-block-start: 273px;
}

.header__description-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.header__description {
  width: 491px;
  height: 70px;
  background: #ff0070;

  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */

  margin-inline-end: 20px;
  margin-top: 10px;
}

/**/

/* main */
main {
  padding-left: 20px;
  padding-right: 20px;
}

/*section__question*/

.section__question {
  display: flex;
  justify-content: space-between;
  margin-block-start: 25px;
  gap: 20px;
}

.section__header {
  color: #ff0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */

  width: 314.96px;
}

.section__question-container {
  width: 648.918px;
  margin-block-start: 18px;

  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.section__question-container-header {
  width: 100%;
  background-color: #ff0070;
  height: 23px;

  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.section__question-description {
  margin: 0;
  margin-block-start: 10px;
}

.section__question-container-header:not(:first-child) {
  margin-block-start: 20px;
}

/**/

/* section__details */
.section__details {
  margin-block-start: 80px;
}

.section__details-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.details__container-header {
  background: #ff0070;
  height: 23px;
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.details__container-setting {
  width: 315px;
  max-width: 100%;
  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}
/**/

/* section__answer */
.section__answer {
  margin-block-start: 41px;

  display: flex;
  justify-content: space-between;
}

.section__answer-right {
  width: 650px;
  margin-block-start: 19px;

  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.section__answer-header {
  width: 100%;
  height: 23px;
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: #ff0070;
}

.section__answer-header:not(:first-child) {
  margin-block-start: 20px;
}

.section__answer-right p {
  margin: 0;
  margin-block-start: 10px;
}
/**/

/* section pictures*/

.section__pictures-header {
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  height: 23px;
  width: 100%;
  background-color: #ff0070;

  margin-block-start: 80px;
}

.picture__gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  grid-gap: 20px;
}

.picture__gridContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sunset-img {
  grid-area: sunset;
}

.ice-cream-img {
  grid-area: ice-cream;
}

.tape-img {
  grid-area: tape;
}

.books-img {
  grid-area: books;
}

.street-img {
  grid-area: street;
}

/**/

footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;

  margin-block-start: 60px;
}

footer::before {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid #ff0070;
  border-block-end: 1px solid #ff0070;
  position: absolute;
  inset-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

footer::after {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid #ff0070;
  border-block-start: 1px solid #ff0070;
  position: absolute;
  inset-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.footer__header {
  color: #db00ff;
  text-shadow: 2px 2px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}
/**/
